* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: url(/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

p {
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
}

.keys {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.key {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  padding: 10px;
  transition: all 0.07s;
  width: 60px;
  height: 60px;
  border: 1px black solid;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: not-allowed;
}

.playing {
  transform: scale(1.1);
  border-color: goldenrod;
  box-shadow: 0 0 10px goldenrod;
}

kbd {
  font-size: 1.5rem;
}

.sound {
  font-variant-caps: small-caps;
  color: blue;
}